@set("hiddenInActive", todo.isCompleted && referrer === "active")
@set("hiddenInCompleted", !todo.isCompleted && referrer === "completed")

@if(hiddenInActive || hiddenInCompleted)
<li
	class="hidden"
	id="todo-{{ todo.id }}"></li>
@else
@!component("components/todo_item", { todo })
@end

@!component("components/toggle_all", { incompletedIds, showToggleAll })
@!component("components/todo_list_footer", { incompletedIds, referrer, todos })
