# ------------------------------ #
# -----------General------------ #
# ------------------------------ #

# OS
# Ref: https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/Windows.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/Linux.gitignore
.DS_Store
Thumbs.db
*.sh
*.bat

# Editors
# Ref: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
# Ref: https://github.com/github/gitignore/blob/main/Global/SublimeText.gitignore
.history
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Dependencies
node_modules
.pnpm-debug.log

# ------------------------------ #
# ----------Aurelia.js---------- #
# ------------------------------ #

aureliajs/scripts
aureliajs/src/environment.ts
aureliajs/dist
aureliajs/test/coverage-jest
aureliajs/test/coverage-karma
aureliajs/.nyc_output
aureliajs/coverage
aureliajs/.fusebox
aureliajs/.cache
#aureliajs/index.html
aureliajs/cypress/videos
aureliajs/cypress/screenshots

# ------------------------------ #
# ----------Adonis.js----------- #
# ------------------------------ #

adonisjs/.env
adonisjs/.env.testing
adonisjs/tmp
adonisjs/build
adonisjs/coverage
adonisjs/public/scripts
adonisjs/database/*.sqlite
