<!doctype html>
<html lang="en">
	<head>
		@!include("partials/html_head")
	</head>
	<body>
		<section class="todoapp">
			@!component("components/todo_list_header", { incompletedIds, todos })
			@!component("components/todo_list_body", { incompletedIds, showToggleAll, todos })
			@!component("components/todo_list_footer", { incompletedIds, referrer, todos })
		</section>
		@!include("partials/info_footer")
	</body>
</html>
