<input
	autofocus
	class="new-todo"
	hx-put="/new-todo"
	hx-swap="afterbegin"
	hx-target="#todo-list"
	hx-trigger="keyup[key=='Enter']"
	maxlength="255"
	minlength="1"
	name="value"
	placeholder="What needs to be done?"
	required
	type="text" />
