<form
	action="/new-todo"
	id="form-new-todo"
	method="POST"
	name="form-new-todo">
	<input
		autofocus
		class="new-todo"
		form="form-new-todo"
		maxlength="255"
		minlength="1"
		name="todo"
		placeholder="What needs to be done?"
		required
		type="text" />
</form>
