<input
	class="clear-completed hidden"
	hx-post="/destroy-completed"
	id="destroy-completed"
	name="destroy-completed"
	type="button" />
<label
	class="clear-completed"
	for="destroy-completed">
	Clear complete
</label>
