<div
	class="{{ showToggleAll ? '' : 'hidden' }}"
	hx-swap-oob="outerHTML"
	id="toggle-all-wrapper">
	<input
		class="toggle-all"
		hx-post="/toggle-all"
		hx-vals='{ "incompletedIds": "{{ incompletedIds.join() }}" }'
		id="toggle-all"
		name="toggle-all"
		type="button" />
	<label
		class="pointer"
		for="toggle-all">
		Mark all as complete
	</label>
</div>
